.thead,
.thead-alt,
.forum_on,
.tcat-bottom,
.postbit_buttons > a:hover,
a.button:hover  {
    background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
}

.theadme {
	background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
    padding: 3px 6px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

button,
input.button {
        background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
        border: 1px solid #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
        padding: 5px 8px;
        color: #fff;
	    font-size: 14px;
	    font-family: 'Titillium Web',Arial,sans-serif;
	    cursor: pointer;
	    outline: 0;
}

button:hover,
input.button:hover {
        background: #404040;
	    border-color: #404040;
        color: #fff;
}

body {
	background: url(../../../images/elusive/bg.png) repeat;
	color: #646464;
	text-align: left;
	line-height: 1.5;
	font-weight: 300px;
	font-style: normal;
	margin: 0;
	font-family: 'Titillium Web',Arial,sans-serif;
	font-size: 14px;
	overflow-y: scroll;
}

a:link,
a:visited {
	color: #fff;
	text-decoration: none;
}

a:hover,
a:active {
	color: #955A85;
	text-decoration: none;
}

.col-20 {
    float: left;
    width: 20%;
}

.col-40 {
    float: left;
    width: 40%;
}

.col-50 {
    float: left;
    width: 50%;
}

.col-80 {
    float: left;
    width: 80%;
}

.panel-container {
    padding: 50px;
}

.panel-avatar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: -10px;
    margin-left: 10px;
    border-radius: 100%;
    margin-top: -2px;
}

.panel-username {
    font-size: 20px;
    color: #fff;
}

.menu {
	font-family: 'Montserrat', sans-serif;
}

.menu,
.menu * {
	padding: 0;
	outline: none;
	border: 0;
	background: none;
}

.menu {
	position: relative;
	z-index: 999;
	background: #101010;
    border-bottom: 3px solid #955A85;
	font-size: 0;
	line-height: 0;
	text-align: right;
}

.menu:after {
	content: '';
	display: table;
	clear: both;
}

.menu li {
	position: relative;
	display: inline-block;
	float: left;
	font-size: 13px;
	line-height: 45px;
	text-align: left;
	white-space: nowrap;
}

.menu li a {
	display: block;
	padding: 0 20px;
	text-decoration: none;
	color: #e7e7e7;
}

.menu li > div {
	position: absolute;
	z-index: 1000;
	top: 100%;
	left: -9999px;
	margin-top: 8px;
    background: #202020;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

.menu li > div:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 8px;
	background: transparent;	
}

.menu li > div:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 24px;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #202020;
	border-left: 5px solid transparent;
}

.menu li:hover > a,
.menu li.current > a {
	background: #955A85;
	color: #fff;
}

.menu li:hover > div {
	left: 0;
	opacity: 1;
	-webkit-transform: translate(0, 0);
}

.menu .right {
	float: none;
	border-right-width: 0;
	border-left-width: 1px;
}

.menu .right > div {
	-o-transform-origin-x: 100%;
	-ms-transform-origin-x: 100%;
	-moz-transform-origin-x: 100%;
	-webkit-transform-origin-x: 100%;
}

.menu .right:hover > div {
	right: 0;
	left: auto;
}

.menu .right:hover > div:before {
	right: 24px;
	left: auto;
}


.menu li li {
	display: block;
	float: none;
	border-width: 0;
	border-top-width: 1px;
	line-height: 21px;
	white-space: normal;
}
.menu li li:first-child {
	border-top: 0;
}
.menu li li a {
	padding-top: 12px;
	padding-bottom: 12px;
}
.menu li li > div {
	top: 0;
	margin: 0 0 0 8px;
}
.menu li li > div:after {
	top: 0;
	right: 100%;
	bottom: auto;
	left: auto;
	width: 8px;
	height: 100%;
}
.menu li li > div:before {
	top: 22px;
	right: 100%;
	bottom: auto;
	left: auto;
	border-top: 5px solid transparent;
	border-right: 5px solid #202020;
	border-bottom: 5px solid transparent;
}
.menu li li:hover > div {
	left: 100%;
}
.menu .right li > div {
	margin: 0 8px 0 0;
	-o-transform-origin-x: 100%;
	-ms-transform-origin-x: 100%;
	-moz-transform-origin-x: 100%;
	-webkit-transform-origin-x: 100%;
}
.menu .right li > div:after {
	right: auto;
	left: 100%;
}
.menu .right li > div:before {
	right: auto;
	left: 100%;
	border-right: none;
	border-left: 5px solid rgba(255,255,255,0.9);
}
.menu .right li:hover > div {
	right: 100%;
	left: auto;
}
.menu .grid-column {
	float: left;
	border-color: #d9d9d9;
	border-left-width: 1px;
	border-left-style: solid;
}
.menu .grid-column:first-child {
	margin-left: 0;
	border-left: 0;
}
.menu .grid-column2,
.menu .grid-container2 {
	width: 155px;
}
.menu .grid-column3,
.menu .grid-container3 {
	width: 233px;
}
.menu .grid-column4,
.menu .grid-container4 {
	width: 311px;
}
.menu .grid-column5,
.menu .grid-container5 {
	width: 389px;
}
.menu .grid-column6,
.menu .grid-container6 {
	width: 467px;
}
.menu .grid-column7,
.menu .grid-container7 {
	width: 545px;
}
.menu .grid-column8,
.menu .grid-container8 {
	width: 623px;
}
.menu .grid-column9,
.menu .grid-container9 {
	width: 701px;
}
.menu .grid-column10,
.menu .grid-container10 {
	width: 779px;
}
.menu .grid-column11,
.menu .grid-container11 {
	width: 857px;
}
.menu .grid-column12,
.menu .grid-container12 {
	width: 935px;
}
.menu li a > .fa {
	display: block;
	float: left;
	width: 16px;
	margin: 0 10px 0 -4px;
  font-size: 16px;
  line-height: inherit;
  text-align: center;
}
.menu li a > .fa-single {
	float: none;
	margin: 0;
}
.menu li a > .fa-indicator {
	position: relative;
	top: -1px;
	float: none;
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin: 0 -10px 0 10px;
	font-size: 9px;
	line-height: 1;
	text-align: right;
}
.menu li li a > .fa-indicator {
	top: 0;
	float: right;
	display: block;
	line-height: inherit;
}
.wrap {
	width: 100%;
	margin: 0 auto;
}

.wrap2 {
	width: 93%;
	margin: 0 auto;
}

.logo {
	background: #101010;
	float: center;
    font-family: 'Montserrat', sans-serif;
}

.header {
	background: url(../../../images/elusive/bg17.png);
	padding: 0px 0px;
    overflow: auto;
}

.stat-icon {
    color: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
}

.stats-icon {
    font-size: 25px;
    color: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
}

.container {
	padding: 0 10px;
	background: #202020;
	width:91%;
	margin:auto auto;
	border-radius:5px;
}

.search-box {
    background: #955A85;
    padding: 8px 10px;
    margin-top: -42px;
    width: 260px;
    text-align: center;
}

.search-rec {
	width: 0;
	height: 0;
	border-bottom: 43px solid #955A85;
	border-left: 43px solid transparent;
    margin-left: -323px;
    margin-top: -42px;
}

#search {
	border: 0;
    padding: 0;
	vertical-align: middle;
}

#search input.button,
#search input.textbox {
	border: #303030;
}

#search input.button {
	background: #202020;
    font-size: 13px;
	color: #fff;
    padding: 5px 8px;
}

#search input {
    background: #202020
    border: 1px solid rgba(0,0,0,0.2);
	margin: -3px 0;
    padding: 6px 10px;
    color: #fff;
	font-family: 'Titillium Web',Arial,sans-serif;
}

#quick_login .remember_me input {
	vertical-align: middle;
	margin: -3px 0 0 5px;
}

.footer {
    background: #181818;
    color: #e7e7e7;
    padding: 40px 20px;
    overflow: auto;
	border-radius: 10px;
}

.footer-nav {
    color: #955A85;
    font-family: 'Titillium Web',Arial,sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-link {
    padding: 8px 0px;
    border-bottom: 1px solid #222222;
    margin-right: 20px;
}

.footer-link:last-child {
    border-bottom: none;
}

.footer-link a:link,
.footer-link a:visited {
    color: #e7e7e7;
}

.footer-link a:hover {
    color: #955A85;
}

.footer-copyright {
    background: #101010;
    padding: 20px;
    color: #7E7E7E;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-copyright a:link,
.footer-copyright a:visited {
    color: #955A85;
}

.footer-copyright a:hover {
    color: #fff;
}

.footer-trapezoid {
	border-top: 5px solid #955A85;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	height: 0;
    margin-bottom: 10px;
}

.facebook-widget,
.twitter-widget,
.whatsapp-widget,
.pinterest-widget,
.instagram-widget,
.appstore-widget,
.spotify-widget,
.youtube-widget,
.paypal-widget {
    height: 40px;
    width: 40px;
    color: #fff;
    margin-top: -12px;
    font-size: 20px;
    text-align: center;
}

.facebook-widget:hover,
.twitter-widget:hover,
.whatsapp-widget:hover,
.pinterest-widget:hover,
.instagram-widget:hover,
.appstore-widget:hover,
.spotify-widget:hover,
.youtube-widget:hover,
.paypal-widget:hover {
    background: #000;
}

.facebook-widget i,
.twitter-widget i,
.whatsapp-widget i,
.pinterest-widget i,
.instagram-widget i,
.appstore-widget i,
.spotify-widget i,
.youtube-widget i,
.paypal-widget i {
    line-height: 40px;
}

.facebook-widget,
.whatsapp-widget,
.twitter-widget,
.pinterest-widget,
.instagram-widget,
.appstore-widget,
.spotify-widget,
.youtube-widget {
    margin-left: 3px;
}

.facebook-widget {
    background: #3b5998;
}

.whatsapp-widget {
    background: #4dc247;
}

.twitter-widget {
    background: #55acee;
}

.pinterest-widget {
    background: #cc2127;
}

.instagram-widget {
    background: #3f729b;
}

.appstore-widget {
    background: #8e8e93;
}

.spotify-widget {
    background: #2ebd59;
}

.youtube-widget {
    background: #cd201f;
}

.paypal-widget {
    background: #003087;
    margin-left: 10px;
}

#debug {
	text-align: right;
	font-size: 13px;
    margin-bottom: 0px;
    color: #7E7E7E;
}

.scaleimages img {
	max-width: 100%;
}

.lastpost-box,
.lastpost-box-alt,
.stats-box {
    background: #101010;
    padding: 8px 10px;
    height: 35px;
}

.lastpost-box-alt {
    line-height: 35px;
    text-align: center;
}   

.forum_status {
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.stats-box {
    overflow: auto;
}

.forum_on {
    color: #fff;
    padding: 5px;
}

.forum_off, 
.forum_offlock, 
.forum_offlink {
    background: #101010;
    padding: 5px;
    color: #7E7E7E;
}

.forum_offlock i:before {
    content: "\f023";
}

.forum_offlink i:before {
    content: "\f0c1";
}

.subforumicon {
	height: 10px;
	width: 10px;
	display: inline-block;
	margin: 0 5px;
	background: url(../../../images/mini_status_sprite.png) no-repeat 0 0;
}

.subforum_minion {
	background-position: 0 0;
}

.subforum_minioff {
	background-position: 0 -10px;
}

.subforum_miniofflock {
	background-position: 0 -20px;
}

.subforum_miniofflink {
	background-position: 0 -30px;
}

table {
	color: #afafaf;
	font-size: 14px;
	font-family: 'Titillium Web',Arial,sans-serif;
}

.tborder {
	width: 96%;
	margin: auto auto;
}

.tborder2 {
	width: 100%;
	margin: auto auto;
}

.tfixed {
	table-layout: fixed;
	word-wrap: break-word;
}

.thead,
.thead-alt {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	font-family: 'Exo', sans-serif;
}

.thead-alt:after {
	position: absolute; 
	content: "";
	border-top: 44px solid transparent;
	border-left: 37px solid transparent;
	top: 0;
	right: 0;
	margin-top: -2px;
}

.thead a:link,
.thead a:visited,
.thead a:hover,
.thead a:active,
.thead-alt a:link,
.thead-alt a:visited,
.thead-alt a:hover,
.thead-alt a:active {
    background: rgba(0,0,0,0.2);
    padding: 3px 6px;
    border-radius: 3px;
	color: #fff;
	text-decoration: none;
}

.tcat-bottom {
    padding: 2px
}

.tcat {
	background: #101010;
	color: #7E7E7E;
	border-top: 1px solid #252525;
	border-bottom: 1px solid #000;
	padding: 8px 6px;
	font-size: 12px;
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
}

.tcat a:link,
.tcat a:visited,
.tcat a:hover,
.tcat a:active {
	color: #fff;
}

.trow1,
.trow2 {
	background: #181818;
	border-top: 1px solid #252525;
	border-bottom: 1px solid #000;
	color: #fff;
}

.trow8 {
	background: #181818;
	border-top: 1px solid #252525;
	border-bottom: 1px solid #000;
	color: #fff;
}

.trow_shaded {
	background: #ffdde0;
	border: 1px solid;
	border-color: #fff #ffb8be #ffb8be #fff;
}

.no_bottom_border {
	border-bottom: 0;
}

.post.unapproved_post {
	background: #ffdde0;
}

.post.unapproved_post .post_author {
	border-bottom-color: #ffb8be;
}

.post.classic.unapproved_post .post_author {
	border-color: #ffb8be;
}

.post.unapproved_post .post_controls {
	border-top-color: #ffb8be;
}

.trow_deleted,
.post.deleted_post {
	background: #101010;
}

.trow_selected,
tr.trow_selected td {
	background: #101010;
	color: #7e7e7e;
}

.trow_selected a:link,
.trow_selected a:visited,
.trow_selected a:hover,
.trow_selected a:active {
	color: #7e7e7e;
}

.trow_sep {
	background: #080808;
	color: #7e7e7e;
    border-top: 1px solid #202020;
	border-bottom: 1px solid #000;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	color: #505050;
	font-weight: 700;
	background: #101010;
	border-top: 1px solid #252525;
	font-family: 'Exo', sans-serif;
}

.tfoot a:link,
.tfoot a:visited,
.tfoot a:hover,
.tfoot a:active {
	color: #7E7E7E;
	text-decoration: none;
}

.thead input.textbox,
.thead select {
	border: 1px solid #263c30;
}

.bottommenu {
	background: #efefef;
	color: #333;
	border: 1px solid #4874a3;
	padding: 10px;
}

.pro {
	color: #fff;
}

.navigation {
	background: #101010;
	border-top: 3px solid #955A85;
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
}

.navigation a:link,
.navigation a:visited,
.navigation a:hover,
.navigation a:active {
    color: #fff;
	text-decoration: none;
}

.navigation .active {
	color: #955A85;
	font-weight: bold;
}

.navigation-spacer {
    padding: 0px 3px;
    display: inline;
    color: #7e7e7e;
}

.smalltext {
	font-size: 12px;
	font-family: 'Titillium Web',Arial,sans-serif;
}

.largetext {
	font-size: 17px;
	font-weight: bold;
	font-family: 'Titillium Web',Arial,sans-serif;
}

fieldset {
	padding: 12px;
	border: 1px solid #303030;
	margin: 0;
}

fieldset.trow1,
fieldset.trow2 {
	border-color: #181818;
}

fieldset.align_right {
	text-align: right;
}

input.textbox {
	background: #000;
    border: 1px solid #000;
	color: #fff;
	padding: 6px 8px;
	outline: 0;
	font-size: 13px;
	font-family: 'Titillium Web',Arial,sans-serif;
}

input.textbox:focus {
	border: 1px solid #955A85;
}

textarea {
	background: #101010;
	color: #fff;
	border: 1px solid #101010;
	padding: 10px;
	line-height: 1.4;
	outline: 0;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
}

input.textbox:focus,
textarea:focus {
        border-color: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
        box-shadow: 0px 0px 10px #955A85;
}

select {
	background: #000;
    border: 1px solid #000;
    color: #7e7e7e;
	padding: 3px;
	outline: 0;
	font-family: 'Titillium Web',Arial,sans-serif;
	font-size: 13px;
}

select:focus {
    border: 1px solid #955A85;
}

button,
input.button {
	padding: 6px 12px;
	cursor: pointer;
	font-family: 'Titillium Web',Arial,sans-serif;
	font-size: 14px;
    color: #fff;
	border: none;
	outline: 0;
}

button:hover,
input.button:hover {
    color: #fff;
}

form {
  margin: 0;
  padding: 0;
}

input.error, textarea.error, select.error {
	border: 1px solid #f30;
	color: #f30;
}

input.valid, textarea.valid, select.valid {
	border: 1px solid #0c0;
}

label.error {
	color: #f30;
	margin: 5px;
	padding: 0px;
	display: block;
	font-weight: bold;
	font-size: 11px;
}

form #message {
    width: 500px;
	font-family: 'Titillium Web',Arial,sans-serif;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #000;
	border: 1px solid #25383C;
}

.post .editor_control_bar {
	background: #f5f5f5;
}

.popup_menu {
	background: #fff;
	border: 1px solid #ccc;
}

.popup_menu .popup_item {
	background: #efefef;
	color: #333;
}

.popup_menu .popup_item:hover {
	background: #0072BC;
	color: #fff;
}

.trow_reputation_positive {
	border-left: 10px solid #1e9e2d;
}

.trow_reputation_negative {
	border-left: 10px solid #ff4136;
}

.trow_reputation_neutral {
	border-left: 10px solid #aaa;
}

.reputation_positive {
	color: #52D017;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: #F70D1A;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#202020;
	color: #e7e7e7;
	border:1px solid #303030;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#C3FDB8;
	color: #008800;
	border:1px solid #008800;
}

img {
	border: none;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

.clear {
	clear: both;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background: #FFFBD9;
	border-bottom: 1px solid #F7E86A;
	color: #333;
	text-align: center;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

.tcat_menu > .expcolimage {
	margin-top: 0;
}

blockquote {
	border: 1px solid rgba(12,12,12,0.25);
	border-left: 3px solid #955A85;
	margin: 0;
	background: rgba(12,12,12,0.28);
	color: #fff;
	padding: 10px;
    font-size: 14px;
    font-style: italic;
	border-radius: 4px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #303030;
	font-style: normal;
	display: block;
    font-size: 14px;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	background: #000;
	padding: 20px;
}

.codeblock .title {
	border-bottom: 1px solid #222;
	font-weight: bold;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: 'Titillium Web',Arial,sans-serif;
	font-size: 13px;
}

.smilie {
	vertical-align: middle;
}

.smilie_pointer {
	cursor: pointer;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 4px;
	white-space: nowrap;
	text-decoration: none;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.subject_new {
	font-weight: bold;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	background: #FFF6BF;
	border: 1px solid #FFD324;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
}

.red_alert {
	background: #FBE3E4;
	border: 1px solid #A5161A;
	color: #A5161A;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
	word-wrap: break-word;
}

.red_alert a:link,
.red_alert a:visited,
.red_alert a:hover,
.red_alert  a:active  {
	color: #A5161A;
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

.offline {
	font-weight: 500; 
    background-color: rgb(110, 34, 34); 
    color: rgb(255, 255, 255); 
    padding: 5px; 
    border-radius: 2px; 
    margin-left: -4px; 
    margin-right: 4px;
}

.online {
	font-weight: 500; 
    background-color: rgb(34, 110, 35); 
    color: rgb(255, 255, 255); 
    padding: 5px; 
    border-radius: 2px; 
    margin-left: -4px; 
    margin-right: 4px;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #181818;
	font-size: 12px;
	color: #fff;
}

div.error p {
	margin: 0;
	color: #333;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url(../../../images/error.png) no-repeat 0;
}

div.error ul {
	margin-left: 24px;
}

.pagination {
    display:inline-block;
	float:left;
	margin-left: 22px;
}

.pagination>*:not(script),.threadbit_pagination>a {
    background-color:#1e1e1e;
    color:#676767!important;
    margin-right:2px;
    border-radius:2px;
    display:inline-block;
    padding:0px 10px;
    height:24px;line-height:24px;
}

.drop_go_page {
    padding:4px 6px!important;
    border-radius:2px;height:auto!important;
    line-height:normal!important;
}

.pagination>*>i {
    line-height:inherit;
}

.pagination>a:hover,.threadbit_pagination>a:hover {
    background-color:#191919;
}

.pagination_previous,.pagination_next {
    padding:8px 12px;
}

.pagination .pagination_current {
    color:#f5f5f5!important;
    background-color: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
}

.threadbit_pagination>a {
    border-radius:3px;
    border-width:1px;
    display:inline-block!important;
    padding:2px 4px;
    height:auto;
    background-color:#191919;
    line-height:normal;
}

.thread_legend,
.thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend,
.forum_legend dt,
.forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

#posts_container {
	padding: 0;
}

.ignored_post {
	border-top: 3px solid #333;
	padding: 15px;
}

.ignored_post .show_ignored_post {
	margin-top: -15px;
}

.ignored_post .show_ignored_post a.button span {
	background-position: 0 -400px;
}

.post {
	overflow: hidden;
}

.post .post_author {
	background: #181818;
	padding: 5px;
	overflow: hidden;
}

.post.classic .post_author {
	float: left;
	width: 15%;
	border-left: 0;
}

.post .post_author .buddy_status {
	vertical-align: middle;
	margin-top: -4px;
}

.post .post_author div.author_avatar {
	float: left;
	margin-right: 3px;
}

.post.classic .post_author div.author_avatar {
	float: none;
	text-align: center;
	margin-bottom: 8px;
}

.post .post_author div.author_information {
	float: left;
	padding: 6px 8px;
}

.post.classic .post_author div.author_information {
	float: none;
	padding: 0;
	text-align: center;
}

.post .post_author div.author_statistics {
	float: right;
	font-size: 11px;
	padding: 3px 10px 3px 5px;
	color: #666;
	line-height: 1.3;
}

.post.classic .post_author div.author_statistics {
	margin: 6px 0 0 0;
	padding: 6px 6px 3px 6px;
	float: none;
}

.post .post_head {
	font-size: 11px;
	padding: 10px 0px;
	border-bottom: 1px solid #222;
	margin-bottom: 4px;
}

.post .post_head span.post_date {
	color: #7e7e7e;
}

.post .post_head span.edited_post {
	font-size: 10px;
	color: #999;
}

.post .post_head span.edited_post a {
	color: #666;
}

.post_body {
	font-size: 14px;
	color: #e7e7e7;
	padding: 12px 0;
}

.post.classic .post_content {
	float: left;
	width: 79%;
	padding: 0 1% 5px 1%;
}

.post_content {
	padding: 9px 10px 5px 10px;
}

.post_content .signature {
	margin-top: 5px;
	border-top: 1px solid #222;
	padding: 10px 0 4px 0;
}

.post .post_meta {
	margin: 4px 0;
	font-size: 11px;
	color: #999;
}

.post .post_meta a:link,
.post .post_meta a:visited {
	color: #777;
}

.post .post_meta a:hover,
.post .post_meta a:active {
	color: #777;
}

.post_controls {
	clear: both;
	background: #090909;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 5px;
	overflow: hidden;
}

#posts {
    background: #181818;
}

.postbit-username {
    text-align: center;
    margin: 5px 0px;
}

.postbit-box {
    background: #101010;
    padding: 5px;
    font-size: 12px;
    overflow: auto;
    margin-bottom: 1px;
}

.postbit_buttons > a:link,
.postbit_buttons > a:visited,
.postbit_buttons > a:active {
    background: #202020;
	display: inline-block;
	padding: 6px 10px;
	font-size: 13px;
	color: #7e7e7e;
}

.postbit_buttons > a:hover {
    color: #fff;
}

a.button:link,
a.button:visited,
a.button:active {
	background: #8C001A;
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	margin: 2px -2px 6px 2px;
	font-size: 15px;
}

a.button:hover {
	background: #303030;
    color: #fff;
}

a.button.small_button {
	font-size: 13px;
	margin: 0;
	padding: 3px 6px;
}

.quick_jump {
	background: url(../../../images/jump.png) no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	margin-top: -3px;
	border: none;
}

.pollbar {
	background: url(../../../images/pollbar.png) top left repeat-x;
	border: 1px solid #3f3f3f;
	height: 10px;
}

.pollbar .percent {
	display: none;
}

.posticons_label {
	white-space: nowrap;
}

/** jGrowl Start **/

/** Special IE6 Style Positioning **/
.ie6 {
	position: absolute;
}

.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.top-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-right {
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.center {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 100%;
}

/** jGrowl Styling **/
.jGrowl {
	z-index: 9999;
	color: #fff;
	font-size: 12px;
	position: fixed;
}

.jGrowl.top-left {
	left: 0px;
	top: 0px;
}

.jGrowl.top-right {
	right: 0px;
	top: 0px;
}

.jGrowl.bottom-left {
	left: 0px;
	bottom:	0px;
}

.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}

.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}

/** Cross Browser Styling **/

.center .jGrowl-notification,
.center .jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}

.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
	background-color: #000;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
	border-radius: 5px;
}

.jGrowl .jGrowl-notification {
	min-height: 40px;
}

.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
	margin: 10px;
}

.jGrowl .jGrowl-notification .jGrowl-header {
	font-weight: bold;
	font-size: .85em;
}

.jGrowl .jGrowl-notification .jGrowl-close {
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

.jGrowl .jGrowl-closer {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

/** Hide jGrowl when printing **/
@media print {
	.jGrowl {
		display: none;
	}
}

/** jGrowl End **/

/** Modal Start **/

.modal {
	display: none;
	width: 400px;
	text-align: left;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.modal a.close-modal {
	position: absolute;
	top: -12.5px;
	right: -12.5px;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../../../images/close.png) no-repeat 0 0;
}

.modal-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -32px;
	margin-top: -32px;
	background: url(../../../images/spinner_big.gif) no-repeat center center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

/** Modal End **/

/** Impromptu Start **/

/*! jQuery-Impromptu - v5.2.4 - 2014-05-26
* http://trentrichardson.com/Impromptu
* Copyright (c) 2014 Trent Richardson; Licensed MIT */

.jqifade {
	position: absolute;
	background-color: #777777;
}

div.jqi {
	width: 400px;
	max-width:90%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: #000;
	font-size: 11px;
	text-align: left;
	border: solid 1px #000;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 7px;
}

div.jqi .jqiclose {
	position: absolute;
	top: 4px; right: -2px;
	width: 18px;
	cursor: default;
	color: #bbbbbb;
	font-weight: bold;
}

div.jqi .jqistate {
	background-color: #000;
}

div.jqi .jqititle {
	padding: 5px 10px;
	font-size: 16px;
	line-height: 20px;
	border-bottom: solid 1px #eeeeee;
}

div.jqi .jqimessage {
	padding: 10px;
	line-height: 20px;
	color: #fff;
}

div.jqi .jqibuttons {
	text-align: right;
	margin: 0 -7px -7px -7px;
	border-top: solid 1px #000;
	background-color: #000;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

div.jqi .jqibuttons button {
	margin: 0;
	padding: 6px 20px;
	background-color: transparent;
	font-weight: normal;
	border: none;
	border-left: solid 1px #000;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

div.jqi .jqibuttons button.jqidefaultbutton {
	color: #fff;
}

div.jqi .jqibuttons button:hover,
div.jqi .jqibuttons button:focus {
	color: #287ade;
	outline: none;
}

/* sub states */

div.jqi .jqiparentstate::after {
	background-color: #777;
	opacity: 0.6;
	filter: alpha(opacity=60);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.jqi .jqisubstate {
	position: absolute;
	top: 0;
	left: 20%;
	width: 60%;
	padding: 7px;
	border: solid 1px #000;
	border-top: none;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

div.jqi .jqisubstate .jqibuttons button {
	padding: 10px 18px;
}

/* arrows for tooltips/tours */

.jqi .jqiarrow {
	position: absolute;
	height: 0; width: 0;
	line-height: 0;
	font-size: 0;
	border: solid 10px transparent;
}

.jqi .jqiarrowtl {
	left: 10px;
	top: -20px;
	border-bottom-color: #ffffff;
}

.jqi .jqiarrowtc {
	left: 50%;
	top: -20px;
	border-bottom-color: #ffffff;
	margin-left: -10px;
}

.jqi .jqiarrowtr {
	right: 10px;
	top: -20px;
	border-bottom-color: #ffffff;
}

.jqi .jqiarrowbl {
	left: 10px;
	bottom: -20px;
	border-top-color: #ffffff;
}

.jqi .jqiarrowbc {
	left: 50%;
	bottom: -20px;
	border-top-color: #ffffff;
	margin-left: -10px;
}

.jqi .jqiarrowbr {
	right: 10px;
	bottom: -20px;
	border-top-color: #ffffff;
}

.jqi .jqiarrowlt {
	left: -20px;
	top: 10px;
	border-right-color: #ffffff;
}

.jqi .jqiarrowlm {
	left: -20px;
	top: 50%;
	border-right-color: #ffffff;
	margin-top: -10px;
}

.jqi .jqiarrowlb {
	left: -20px;
	bottom: 10px;
	border-right-color: #ffffff;
}

.jqi .jqiarrowrt {
	right: -20px;
	top: 10px;
	border-left-color: #ffffff;
}

.jqi .jqiarrowrm {
	right: -20px;
	top: 50%;
	border-left-color: #ffffff;
	margin-top: -10px;
}

.jqi .jqiarrowrb {
	right: -20px;
	bottom: 10px;
	border-left-color: #ffffff;
}

.buttons1 {
	background: #303030;
    padding: 5px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    color: #fff;
	font-family: 'Titillium Web',Arial,sans-serif;
}

.buttons1:hover {
	background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
    padding: 5px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
     color: #fff;
	-webkit-transition: background-color 200ms linear, color 200ms linear;
    -moz-transition: background-color 200ms linear, color 200ms linear;
    -o-transition: background-color 200ms linear, color 200ms linear;
    -ms-transition: background-color 200ms linear, color 200ms linear;
     -transition: background-color 200ms linear, color 200ms linear;
}

.buttons2 {
	background: #3a3a3a;
    padding: 5px 10px;
	margin-right: 23px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
     color: #fff;
     font-size: 1.4em;
     font-family: 'Titillium Web',Arial,sans-serif;
}

.buttons2:hover {
	background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
    padding: 5px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
     color: #fff;
        -webkit-transition: background-color 200ms linear, color 200ms linear;
        -moz-transition: background-color 200ms linear, color 200ms linear;
        -o-transition: background-color 200ms linear, color 200ms linear;
        -ms-transition: background-color 200ms linear, color 200ms linear;
        transition: background-color 200ms linear, color 200ms linear;
}

.buttons2red {
	background: #B40404;
    padding: 5px 10px;
	margin-right: 23px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    color: #fff;
    font-size: 1.4em;
    font-family: 'Titillium Web',Arial,sans-serif;
}

.buttons2red:hover {
	background: #FF0000;
    padding: 5px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
     color: #fff;
        -webkit-transition: background-color 200ms linear, color 200ms linear;
        -moz-transition: background-color 200ms linear, color 200ms linear;
        -o-transition: background-color 200ms linear, color 200ms linear;
        -ms-transition: background-color 200ms linear, color 200ms linear;
        transition: background-color 200ms linear, color 200ms linear;
}

.member-icon {
    font-size: 15px;
    color: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
}

.member-icons {
    font-size: 15px;
    color: #C11B17;
}

.member-icons1 {
    font-size: 15px;
    color: #990012;
}

.member-icons2 {
    font-size: 15px;
    color: #2B65EC;
}

::-webkit-scrollbar {
width: 12px;
}

::-webkit-scrollbar-thumb {
background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-track {
background: #2c2c2c;
-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}		

.userbrowsingbox {
   background-color: #202020;
   border-radius: 3px;
   padding: 10px;
   border: 1px solid #101010;
   font-weight: 800;
   color: #e9e9e9;
   font-weight: bold;
   font-family: 'Titillium Web',Arial,sans-serif;
}

.rswitch {
  position: relative;
  height: 26px;
  width: 120px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.rswitch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.rswitch-label:active {
  font-weight: bold;
}

.rswitch-label-off {
  padding-left: 2px;
}

.rswitch-label-on {
  padding-right: 2px;
}


.rswitch input {
  display: none;
}
.rswitch-input:checked + .rswitch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.rswitch-input:checked + .rswitch-label-on ~ .rswitch-selection {
  left: 60px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.rswitch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 58px;
  height: 22px;
  border-radius: 3px;
  background-color: #65bd63;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -ms-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(top, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1E1E1E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background: linear-gradient(rgb(209, 74, 74),rgb(171, 62, 62)) #C24040;
    -webkit-transition: .4s;
    transition: .4s;
    border: 7px solid #272727;
}

input:checked + .slider::before {
	background: linear-gradient(rgb(111, 209, 74),rgb(84, 171, 62)) #5AC240 !important;
}

input:checked + .slider {
  background-color: #1E1E1E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2px;
}

.slider.round:before {
  border-radius: 2px;
}

.checkinfo {
    float: right;
    text-align: left;
    width: calc(100% - 68px);
    font-size: 14px;
    margin-top: 7px;
    color: #fff;
    text-shadow: 1px 0px 1px rgb(0, 0, 0);
    font-family: 'Titillium Web',Arial,sans-serif;
}

.stacy {
    float: right;
	margin-top: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
     margin-right: 10px;
}

.votebutton {
        background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
	    border: 1px solid #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
        padding: 5px 8px;
        color: #fff;
	    font-size: 13px;
	    font-family: 'Titillium Web',Arial,sans-serif;
	    float: left;
	    margin-left: 30px;
}

.votebutton:hover {
        background: #404040;
	    border-color: #404040;
	    color: #fff;
}

.showresults {
    float: right;
    margin-right: 30px;
	color: #fff;
	font-size: 13px;
	font-family: 'Titillium Web',Arial,sans-serif;
}

.closeon {
	float: middle;
    margin-top: -20px;
	margin-left: 500px;
	color: #e7e7e7;
	font-size: 12px;
	font-family: 'Titillium Web',Arial,sans-serif;
}

.profile-icon {
    background: #151515 none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    margin-right: 3px;
    padding: 3px;
    text-align: center;
    width: 16px;
}

.profile-col1 {
    float: left;
    width: 35%;
	color:#e7e7e7;
}
.profile-col2 {
    float: left;
    width: 65%;
	color:#e7e7e7;
}
.profile-col4 {
    float: left;
    width: 50%;
}
.profile-thead {
    background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
    color: #fff;
    margin: -10px -10px 5px;
    padding: 10px 15px;
}
.profile-images {
    margin: 5px 0;
}
.profile-font {
    font-size: 14px;
}
.profile-status {
    background: #151515 none repeat scroll 0 0;
    border-radius: 3px;
    margin: 10px auto 0;
    padding: 7px 0;
    text-align: center;
}
.profile-bit {
    background: #151515 none repeat scroll 0 0;
    border: 1px solid #282828;
    padding: 3px;
}
.profile-row, .profile-row-first {
    border-bottom: 1px solid #151515;
}
.profile-row, .profile-row-last {
    border-top: 1px solid #303030;
}
.profile-bit-fix {
    margin: 0 0 0 20px;
}
.profile-bit-inner {
    background: #252525 none repeat scroll 0 0;
    padding: 10px;
}
.profile-username {
    font-weight: 500;
}
.profile-avatar {
    float: right;
	border-radius: 10px;
}
.profile-row-right {
    border-right: 1px solid #151515;
}
.profile-row-left {
    border-left: 1px solid #303030;
}
.profile-row, .profile-row-first, .profile-row-last, .profile-row-none {
    padding: 10px;
}
.awards-col1 {
    float: left;
    width: 80%;
}
.awards-col2 {
    float: left;
    width: 20%;
}
.awards-spacer1 {
    padding: 0 10px 0 0;
}
.pa-col {
    float: left;
    width: 50%;
}

.profile-tborder {
    background: #151515 none repeat scroll 0 0;
    border: 1px solid #282828;
    border-radius: 4px;
    padding: 3px;
}

.profile-awards-wrap {
    border: 1px solid #151515;
    border-radius: 3px;
    box-shadow: 0 0 1px #303030;
    margin: 10px;
}
.footer, .profile-ui-stats-first {
    box-shadow: 0 1px 0 #303030 inset;
}
.profile-awards {
    background: #202020 none repeat scroll 0 0;
    border-bottom: 1px solid #151515;
    border-radius: 3px 3px 0 0;
    padding: 10px;
}
.profile-awards-bottom {
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #303030;
    padding: 10px;
}
.profile-options {
    background: #151515 none repeat scroll 0 0;
    border-left: 1px solid #282828;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #282828;
    border-top: 1px solid #282828;
    float: right;
    margin: 0 0 -3px;
    padding: 6px 3px;
}
.profile-stats-info, .profile-stats-info-first {
    border-right: 1px solid #151515;
}
.profile-stats-info, .profile-stats-info-last {
    border-left: 1px solid #303030;
}
.profile-button, .profile-button-nonclick {
    background: #252525 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    padding: 4px 8px;
}
.profile-button {
    margin: 0 0 0 1px;
}
.profile-button:hover {
    background: #303030 none repeat scroll 0 0;
}
.profile-userinfo {
    background: #252525 none repeat scroll 0 0;
    padding: 10px;
}
.profile-ui-stats, .profile-ui-stats-first, .profile-ui-stats-last {
    padding: 10px;
}
.profile-ui-stats-first {
    background: #202020 none repeat scroll 0 0;
    border-bottom: 1px solid #151515;
    border-top: 1px solid #151515;
    text-align: center;
}
.profile-ui-stats {
    border-bottom: 1px solid #151515;
    border-top: 1px solid #303030;
}
.profile-ui-stats-last {
    border-top: 1px solid #303030;
    text-align: center;
}
.profile-username {
    font-size: 22px;
}
.profile-onlinetime {
    font-size: 12px;
    font-style: italic;
}
.profile-userbar, .profile-userstars {
    margin: 5px 0 0;
}
.profile-avatar {
    text-align: right;
}
.profile-stats-admin, .profile-stats-staff, .profile-stats-title, .profile-stats-title-first {
    background: #202020 none repeat scroll 0 0;
    border-bottom: 1px solid #151515;
    border-top: 1px solid #303030;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}
.profile-stats-title-first {
    border-top: medium none !important;
    color: #955A85;
    margin: 0 0 0 3px;
}
.profile-stats-inner, .upgrade-bottom, .upgrade-sec-row {
    border-top: 1px solid #303030;
}
.profile-stats-title {
    color: #955A85;
    margin: 0 0 0 3px;
}
.profile-stats-staff {
    color: #15a018;
    margin: 0 0 0 3px;
}
.profile-stats-bg {
    background: #252525 none repeat scroll 0 0;
    margin: 0 0 0 3px;
}
.profile-stats-col {
    float: left;
    width: 25%;
}
.profile-stats-inner {
    border-bottom: 1px solid #151515;
    padding: 10px;
}
.profile-stats-info, .profile-stats-info-first, .profile-stats-info-last {
    border-bottom: 1px solid #151515;
    border-top: 1px solid #303030;
    padding: 10px;
    text-align: center;
}
.profile-stats-num {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.profile-stats-desc {
    font-size: 12px;
    font-style: italic;
}

.profile-stats-admin {
    color: #cf000f;
    margin: 0;
}

.profile-contact {
    float: left;
    width: 50%;
}
.profile-contact-container {
    overflow: auto;
}
.profile-contact-inner:first-child {
    margin-right: 5px;
}
.profile-contact-inner:last-child {
    margin-left: 5px;
}

.float-right {
    float: right;
}

.float-middle {
    float: middle;
}
.float-left {
    float: left;
}

#sidebar {
  	float: right;
  	width: 20%;
	margin-top: 59px;
}

.shead {
    background: #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
    color: #ffffff;
	font-weight: 500;
    border-bottom: 2px solid #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
    border-top: 1px solid #955A85 url(/images/elusive/thead_bg.gif) top left repeat-x;
    padding: 10px;
}

.pulse_heart {
  color: #E90606;
  margin: 0 3px;
  font-size: 10px;
  cursor: pointer;
  animation: pound_heart 0.45s infinite alternate;
  -webkit-animation: pound_heart 0.45s infinite alternate;
}

@-webkit-keyframes pound_heart {
  to {
    transform: scale(1.4);
  }
}
@keyframes pound_heart {
  to {
    transform: scale(1.4);
  }
}

.news {
	margin: 10px 0px 25px 0px;
  	width: 50%;
  	height: 40px;
  	line-height: 50px;
  	float: left;
	margin-left: 22px;
 	border: 2px solid #111111;
 	background: #101010;
	border-radius: 10px;
}

.announcements {
  	min-width: 40px;
  	padding: 0 5px;
    color: #FFFFFF;
  	text-align: left;
  	float: left;
  	background-color: #955A85;
  	height: 40px;
  	vertical-align:  top;
  	text-align: center;
  	position: relative;
}

.news_arrow {
    width: 0;
    position: relative;
    left: 48px;
    top: 11px;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
	border-color: transparent;
}
.automsj {
  	float: left;
  	padding: 0 5px;
  	font-size: 13px;
  	margin: -18px 0px 0px 20px;
  	height: 40px;
  	line-height: 38px;
}

.automsj ul {
  	padding: 0;
  	margin: 0;
}

.quotes {
    color: #8D00FF;
  	list-style: none;
  	display: none;
  	text-align: left;
}

#backtop {
    width: 36px;
    height: 36px;
    z-index: 100;
}

.fixedscroll {
	float: middle;
	margin-left: 250px;
}

.clasy {
	float: left;
    margin-left: 28px;
}

.clasy1 {
	float: right;
    margin-right: 55px;
}

.clasy2 {
	float: right;
    margin-right: 29px;
}

.service-1 {
color: pink;
}

.service-2 {
color: yellow;
}

.service-3 {
color: red;
}

.service-4 {
color: orange;
}

.inline33 { 
	width: calc(33.3333% - 30px); 
	padding: 15px 15px 20px; 
	background-color: #202020; 
	display: inline-block; 
	font-family: 'Titillium Web',Arial,sans-serif;
}

#ahexagon {
    width: 36px;
    line-height: 40px;
    background: #773F3F;
    position: relative;
    border-radius: 1px;
    display: inline-block;
    margin-left: -4px;
    text-align: center;
    height: 26px;
}

#ahexagon:before { 
	content: ""; 
	position: 
	absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 18px solid #773F3F; 
	border-right: 18px solid #773F3F; 
	border-bottom: 12px solid #773F3F; 
}

#ahexagon:after { 
	content: ""; 
	position: absolute; 
	bottom: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent; 
	border-right: 18px solid transparent; 
	border-top: 12px solid #773F3F; 
}

/* test code */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@keyframes bake-pie {
 from {
   transform: rotate(0deg) translate3d(0,0,0);
 }
}

.pieID {
 display: inline-block;
 vertical-align: top;
}
.pie {
 height: 200px;
 width: 200px;
 position: relative;
 margin: 0 30px 30px 0;
}
.pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    background: #2B2B2B;
    border-radius: 50%;
    top: 25px;
    left: 25px;
}
.pie::after {
 content: "";
 display: block;
 width: 120px;
 height: 2px;
 background: rgba(0,0,0,0.1);
 border-radius: 50%;
 box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);
 margin: 220px auto;
 
}
.slice {
 position: absolute;
 width: 200px;
 height: 200px;
 clip: rect(0px, 200px, 200px, 100px);
 animation: bake-pie 1s;
}
.slice span {
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 background-color: black;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 clip: rect(0px, 200px, 200px, 100px);
}
.legend {
 list-style-type: none;
 padding: 0;
 margin: 0;
 padding: 15px;
 font-size: 13px;
}
.legend li {
 width: 170px;
 height: 1.25em;
 margin-bottom: 0.7em;
 padding-left: 0.5em;
 border-left: 1.25em solid black;
}
.legend em {
 font-style: normal;
}
.legend span {
 float: right;
}

section {
 margin-top: 30px;
 margin-left: 50px;
}

.amazing {
    background:#955A85;
    padding:5px;
    color:#202020;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	border-radius: 3px;
}
		
		